In [24]:
import yaml

In [25]:
import pandas as pd

In [26]:
report_data = pd.read_pickle('data/test/report_data.pkl')
report_data

,group_ID,reported_techniques,passive_techniques,active_techniques
0,aa23-347a,"[T1590.004, T1592.002, T1190, T1059.001, T1059...","[T1590.004, T1592.002]","[T1190, T1059.001, T1059.003, T1203, T1574.002..."
1,aa23-201a,"[T1584, T1588.002, T1190, T1059.004, T1106, T1...","[T1584, T1588.002]","[T1190, T1059.004, T1106, T1547, T1505.003, T1..."
2,aa22-174a,"[T1190, T1059.001, T1053.005, T1505.003, T1036...",None,"[T1190, T1059.001, T1053.005, T1505.003, T1036..."

In [27]:
from src.models.model1.recommend import extract_cisa_techniques

In [28]:
report_code = 'aa23-347a'
url = 'https://www.cisa.gov/news-events/cybersecurity-advisories/' + report_code
extract_cisa_techniques (url )

['T1590.004',
 'T1592.002',
 'T1190',
 'T1059.001',
 'T1059.003',
 'T1203',
 'T1574.002',
 'T1053.005',
 'T1505.001',
 'T1547',
 'T1068',
 'T1098',
 'T1027.001',
 'T1036',
 'T1055',
 'T1562.001',
 'T1564',
 'T1564.001',
 'T1003.001',
 'T1003.002',
 'T1555.003',
 'T1558.001',
 'T1033',
 'T1046',
 'T1057',
 'T1590',
 'T1210',
 'T1047',
 'T1568',
 'T1572',
 'T1020',
 'T1041',
 'T1567']

In [29]:
all_techniques = [1, 2, 3, 4, 5]
reported_techniques = []

reported_techniques.append(all_techniques[:])

all_techniques.remove(3)  # Removing an item from all_techniques

print(reported_techniques)

[[1, 2, 3, 4, 5]]