In [1]:
l = ['a', 'b', 'c', 'd', 'e', 'f']
selected = ['a', 'b', 'c']
l2 = [i if i in selected else 'other' for i in l]
l2

['a', 'b', 'c', 'other', 'other', 'other']

In [2]:
import pandas as pd

table = pd.read_pickle ('data/lookup_tables/m06c_test1.pkl')

In [3]:
table

    technique_ID                          sorted_similar_techniques
0          T1548  [T1548, T1020, T1480, T1567.001, T1070, T1565....
1      T1548.002  [T1548.002, T1546.008, T1563, T1070.001, T1199...
2      T1548.004  [T1548.004, T1553.003, T1218.012, T1218.007, T...
3      T1548.001  [T1548.001, T1484.001, T1580, T1587.004, T1620...
4      T1548.003  [T1548.003, T1134.003, T1484.002, T1134.005, T...
..           ...                                                ...
602    T1102.002  [T1102.002, T1012, T1133, T1574.002, T1562.001...
603    T1102.001  [T1102.001, T1564.004, T1601.002, T1110.001, T...
604    T1102.003  [T1102.003, T1568.003, T1563.001, T1567, T1588...
605        T1047  [T1047, T1583.001, T1059.007, T1046, T1505.003...
606        T1220  [T1220, T1207, T1546.014, T1559, T1197, T1070....

[607 rows x 2 columns]