In [1]:
import yaml

In [2]:
import pandas as pd

In [3]:
report_data = pd.read_pickle('data/test/cisa_1_report_data.pkl')
for _,row in report_data.iterrows():
    print (row['group_ID'])
    print (len(row['active_techniques']))

aa23-339a
21
aa22-320a
16
aa23-074a
16

In [4]:
report_data

,group_ID,reported_techniques,passive_techniques,active_techniques
0,aa23-339a,"[T1046, T1190, T1059.007, T1505.003, T1484.001...",[T1046],"[T1190, T1059.007, T1505.003, T1484.001, T1036..."
1,aa22-320a,"[T1190, T1059.001, T1098, T1136.001, T1136.002...",None,"[T1190, T1059.001, T1098, T1136.001, T1136.002..."
2,aa23-074a,"[T1059.006, T1190, T1105, T1505.003, T1595.002...","[T1059.006, T1190, T1105, T1505.003, T1595.002]","[T1190, T1505.003, T1036.005, T1055.001, T1070..."

In [6]:
cisa_2 = pd.read_pickle ('data/test/cisa_2_report_data.pkl')

In [12]:
cisa_2.iloc[0,3]

['T1078',
 'T1190',
 'T1566',
 'T1059.001',
 'T1059.003',
 'T1055.002',
 'T1070.001',
 'T1070.004',
 'T1564.003',
 'T1003.003',
 'T1112',
 'T1016',
 'T1018',
 'T1033',
 'T1069.001',
 'T1069.002',
 'T1087.002',
 'T1482',
 'T1021.001',
 'T1021.004',
 'T1219',
 'T1486',
 'T1657']