In [1]:
import sys
import pandas as pd
sys.path.append ('..')

In [2]:
t_df = pd.read_pickle ('../data/processed/model1/processed_technnique_features.pkl')
tactics_order= pd.read_csv ('../data/raw/tactics_order.csv', index_col= 0)

In [3]:
from src.models.model1.recommend import *

In [4]:
look_up_table = pd.read_pickle ('../data/lookup_tables/m06c_test1.pkl')
look_up_table

,technique_ID,sorted_similar_techniques,technique_earliest_stage,technique_latest_stage
0,T1548,"[T1020, T1480, T1567.001, T1070, T1565.002, T1...",4,5
1,T1548.002,"[T1546.008, T1563, T1070.001, T1199, T1553.001...",4,5
2,T1548.004,"[T1553.003, T1218.012, T1218.007, T1546.002, T...",4,5
3,T1548.001,"[T1484.001, T1580, T1587.004, T1620, T1137.001...",4,5
4,T1548.003,"[T1134.003, T1484.002, T1134.005, T1003.008, T...",4,5
...,...,...,...,...
602,T1102.002,"[T1012, T1133, T1574.002, T1562.001, T1036.004...",10,10
603,T1102.001,"[T1564.004, T1601.002, T1110.001, T1556, T1547...",10,10
604,T1102.003,"[T1568.003, T1563.001, T1567, T1588.003, T1601...",10,10
605,T1047,"[T1583.001, T1059.007, T1046, T1505.003, T1112...",2,2
606,T1220,"[T1207, T1546.014, T1559, T1197, T1070.003, T1...",5,5

In [5]:
interacted_techniques = [
    'T1548', 'T1102.002', 'T1047'
]
get_interacted_tactic_range (interacted_techniques, look_up_table)

(2, 10)

In [20]:
len(get_cadidate_techniques (interacted_techniques, look_up_table, n = 300, mode = 'latest'))

81