In [1]:
import sys
import pandas as pd
sys.path.append ('..')

In [2]:
from src.data.cleaning_4 import _make_interaction_matrix_2

In [4]:
g = pd.read_pickle ('../data/interim/X_group.pkl')
t = pd.read_pickle ('../data/interim/X_technique.pkl')
y = pd.read_pickle ('../data/interim/y_cleaned.pkl')
tactics = pd.read_csv ('../data/raw/tactics_order.csv', index_col=0)

In [13]:
res = _make_interaction_matrix_2 (
    group_IDs_df= g[['group_ID']],
    technique_IDs_df= t[['technique_ID']],
    positive_cases= y[y['label']==1],
    technique_tactics_df= t[['technique_ID', 'input_technique_tactics']],
    tactics_order_df= tactics,
    include_unused_techniques= False,
    limit_technique_based_on_earliest_tactic_stage=True
)
res

      group_ID technique_ID  label
0        G0099    T1548.002    0.0
1        G0099        T1134    0.0
2        G0099    T1134.002    0.0
3        G0099    T1134.001    0.0
4        G0099        T1531    0.0
...        ...          ...    ...
52763    G0045    T1102.002    0.0
52764    G0045    T1102.001    0.0
52765    G0045    T1102.003    0.0
52766    G0045        T1047    1.0
52767    G0045        T1220    0.0

[47526 rows x 3 columns]