In [1]:
import os, sys
sys.path.append('../')

In [2]:
from src.data.cleaning_4 import _process_string_vals, _process_sentences

In [3]:
import pandas as pd
df = pd.read_csv ('../data/interim/collected_techniques_df.csv')

In [4]:
test_df = df[['ID','tactics']]

In [5]:
test_df.rename (columns= {'ID': 'technique_ID'}, inplace= True)

C:\Users\vuchi\AppData\Local\Temp\ipykernel_7012\1727324536.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df.rename (columns= {'ID': 'technique_ID'}, inplace= True)

In [6]:
test_df

    technique_ID                                tactics
0          T1548  Defense Evasion, Privilege Escalation
1      T1548.002  Defense Evasion, Privilege Escalation
2      T1548.004  Defense Evasion, Privilege Escalation
3      T1548.001  Defense Evasion, Privilege Escalation
4      T1548.003  Defense Evasion, Privilege Escalation
..           ...                                    ...
602    T1102.002                    Command and Control
603    T1102.001                    Command and Control
604    T1102.003                    Command and Control
605        T1047                              Execution
606        T1220                        Defense Evasion

[607 rows x 2 columns]

In [7]:
res_df = _process_string_vals (test_df, 'tactics')

In [8]:
res_df.head(100)

   technique_ID                                  tactics
0         T1001                    [command_and_control]
1     T1001.001                    [command_and_control]
2     T1001.002                    [command_and_control]
3     T1001.003                    [command_and_control]
4         T1003                      [credential_access]
..          ...                                      ...
95    T1055.014  [defense_evasion, privilege_escalation]
96    T1055.015  [defense_evasion, privilege_escalation]
97        T1056          [collection, credential_access]
98    T1056.001          [collection, credential_access]
99    T1056.002          [collection, credential_access]

[100 rows x 2 columns]

In [9]:
df = pd.read_csv ('../data/interim/collected_groups_df.csv')
test_df = df[['ID', 'description']]

In [10]:
test_df

        ID                                        description
0    G0099  [APT-C-36](https://attack.mitre.org/groups/G00...
1    G0006  [APT1](https://attack.mitre.org/groups/G0006) ...
2    G0005  [APT12](https://attack.mitre.org/groups/G0005)...
3    G0023  [APT16](https://attack.mitre.org/groups/G0023)...
4    G0025  [APT17](https://attack.mitre.org/groups/G0025)...
..     ...                                                ...
131  G0044  [Winnti Group](https://attack.mitre.org/groups...
132  G0102  [Wizard Spider](https://attack.mitre.org/group...
133  G0128  [ZIRCONIUM](https://attack.mitre.org/groups/G0...
134  G0018  [admin@338](https://attack.mitre.org/groups/G0...
135  G0045  [menuPass](https://attack.mitre.org/groups/G00...

[136 rows x 2 columns]

In [11]:
sentence = test_df.iloc[7]['description']
sentence

"[APT28](https://attack.mitre.org/groups/G0007) is a threat group that has been attributed to Russia's General Staff Main Intelligence Directorate (GRU) 85th Main Special Service Center (GTsSS) military unit 26165.(Citation: NSA/FBI Drovorub August 2020)(Citation: Cybersecurity Advisory GRU Brute Force Campaign July 2021) This group has been active since at least 2004.(Citation: DOJ GRU Indictment Jul 2018)(Citation: Ars Technica GRU indictment Jul 2018)(Citation: Crowdstrike DNC June 2016)(Citation: FireEye APT28)(Citation: SecureWorks TG-4127)(Citation: FireEye APT28 January 2017)(Citation: GRIZZLY STEPPE JAR)(Citation: Sofacy DealersChoice)(Citation: Palo Alto Sofacy 06-2018)(Citation: Symantec APT28 Oct 2018)(Citation: ESET Zebrocy May 2019)\n\n[APT28](https://attack.mitre.org/groups/G0007) reportedly compromised the Hillary Clinton campaign, the Democratic National Committee, and the Democratic Congressional Campaign Committee in 2016 in an attempt to interfere with the U.S. presidential election. (Citation: Crowdstrike DNC June 2016) In 2018, the US indicted five GRU Unit 26165 officers associated with [APT28](https://attack.mitre.org/groups/G0007) for cyber operations (including close-access operations) conducted between 2014 and 2018 against the World Anti-Doping Agency (WADA), the US Anti-Doping Agency, a US nuclear facility, the Organization for the Prohibition of Chemical Weapons (OPCW), the Spiez Swiss Chemicals Laboratory, and other organizations.(Citation: US District Court Indictment GRU Oct 2018) Some of these were conducted with the assistance of GRU Unit 74455, which is also referred to as [Sandworm Team](https://attack.mitre.org/groups/G0034). "

In [12]:
res_df = _process_sentences (test_df, 'description')

c:\Users\vuchi\GT24\hieuchivu-gt24-repo3\notebooks\..\src\data\cleaning_4.py:166: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feature_df[feature_name] = feature_df[feature_name].apply (_process_sentence)

In [14]:
res_df.iloc[7]['description']

"APT28 is a threat group that has been attributed to Russia's General Staff Main Intelligence Directorate  85th Main Special Service Center  military unit 26165. This group has been active since at least 2004.  APT28 reportedly compromised the Hillary Clinton campaign, the Democratic National Committee, and the Democratic Congressional Campaign Committee in 2016 in an attempt to interfere with the U.S. presidential election.  In 2018, the US indicted five GRU Unit 26165 officers associated with APT28 for cyber operations  conducted between 2014 and 2018 against the World Anti-Doping Agency , the US Anti-Doping Agency, a US nuclear facility, the Organization for the Prohibition of Chemical Weapons , the Spiez Swiss Chemicals Laboratory, and other organizations. Some of these were conducted with the assistance of GRU Unit 74455, which is also referred to as Sandworm Team. "

In [15]:
res_df.shape

(136, 2)