In [1]:
import pandas as pd

In [2]:
g = pd.read_pickle ('../data/interim/X_group.pkl')
t = pd.read_pickle ('../data/interim/X_technique.pkl')
y = pd.read_pickle ('../data/interim/y_cleaned.pkl')

In [3]:
y

      group_ID technique_ID  label
0        G0099    T1548.002    0.0
1        G0099        T1134    0.0
2        G0099    T1134.002    0.0
3        G0099    T1134.001    0.0
4        G0099        T1531    0.0
...        ...          ...    ...
52763    G0045    T1102.002    0.0
52764    G0045    T1102.001    0.0
52765    G0045    T1102.003    0.0
52766    G0045        T1047    1.0
52767    G0045        T1220    0.0

[52768 rows x 3 columns]

In [4]:
y['label'].value_counts()

label
0.0    49716
1.0     3052
Name: count, dtype: int64